In [11]:
## Notebook to visualize preselection strategy using historical and pre-saved data
import sys
sys.path.append("..")

import vectorbtpro as vbt
import numpy as np
import pandas as pd

import importlib
import inspect
from numba import njit
import talib
import math

from core import strat, indicators, presel

In [2]:
importlib.reload(indicators)
importlib.reload(strat)
importlib.reload(presel)

In [18]:
period="2007_2023_08"
symbol_index="DAX" # "CAC40", "DAX", "NASDAQ", "REALESTATE", "INDUSTRY", "IT", "COM", "CONSUMER", "HEALTHCARE"

In [19]:
#bti=presel.PreselVol(period,symbol_index=symbol_index)
#bti=presel.PreselMacdVol(period,symbol_index=symbol_index)
#bti=presel.PreselHistVol(period,symbol_index=symbol_index)
#bti=presel.PreselMacdVolMacro(period,symbol_index=symbol_index)
#bti=presel.PreselRetard(period,symbol_index=symbol_index)
#bti=presel.PreselRetardMacro(period,symbol_index=symbol_index)
bti=presel.PreselDivergence(period,symbol_index=symbol_index)
#bti=presel.PreselDivergenceBlocked(period,symbol_index=symbol_index)
#bti=presel.PreselRetardKeepBT(period,symbol_index=symbol_index)

### Slow ###
#bti=presel.PreselVolSlow(period,symbol_index=symbol_index)
#bti=presel.PreselMacdVolSlow(period,symbol_index=symbol_index)
#bti=presel.PreselHistVolSlow(period,symbol_index=symbol_index)
#bti=presel.PreselRealMadrid(period,symbol_index=symbol_index)
#bti=presel.PreselRealMadridBlocked(period,symbol_index=symbol_index)

#bti=presel.PreselWQ(period,symbol_index=symbol_index, nb=21)

bti.run()

  0%|          | 0/32 [00:00<?, ?it/s]

number of days retrieved: 4201

In [20]:
pf=vbt.Portfolio.from_signals(bti.close, bti.entries,bti.exits,short_entries=bti.entries_short,short_exits  =bti.exits_short,freq="1d",#
                            call_seq='auto',cash_sharing=True,fees=0.0005
                             )
pf.returns_stats()

Start                        2007-01-02 00:00:00+01:00
End                          2023-07-31 00:00:00+02:00
Period                              4201 days 00:00:00
Total Return [%]                            301.070792
Benchmark Return [%]                        375.110787
Annualized Return [%]                         8.733376
Annualized Volatility [%]                    51.436763
Max Drawdown [%]                             80.219935
Max Drawdown Duration                651 days 00:00:00
Sharpe Ratio                                   0.49112
Calmar Ratio                                  0.108868
Omega Ratio                                   1.084545
Sortino Ratio                                  0.72395
Skew                                          0.327187
Kurtosis                                      8.663817
Tail Ratio                                    1.029019
Common Sense Ratio                            1.118888
Value at Risk                                -0.039511
Alpha                                         0.071772
Beta                                          1.096118
Name: group, dtype: object

In [40]:
pf.stats()

Start                         2007-01-03 00:00:00-05:00
End                           2023-07-31 00:00:00-04:00
Period                               4172 days 00:00:00
Start Value                                       100.0
Min Value                                     93.270738
Max Value                                   7718.967212
End Value                                   7718.967212
Total Return [%]                            7618.967212
Benchmark Return [%]                        1672.991042
Total Time Exposure [%]                           100.0
Max Gross Exposure [%]                            100.0
Max Drawdown [%]                              60.866751
Max Drawdown Duration                 457 days 00:00:00
Total Orders                                          1
Total Fees Paid                                0.049975
Total Trades                                          1
Win Rate [%]                                        NaN
Best Trade [%]                                      NaN
Worst Trade [%]                                     NaN
Avg Winning Trade [%]                               NaN
Avg Losing Trade [%]                                NaN
Avg Winning Trade Duration                          NaT
Avg Losing Trade Duration                           NaT
Profit Factor                                       NaN
Expectancy                                          NaN
Sharpe Ratio                                   1.180596
Calmar Ratio                                    0.49219
Omega Ratio                                    1.194106
Sortino Ratio                                  1.727066
Name: group, dtype: object

In [16]:
pf.plot()

/home/maxime/.local/lib/python3.8/site-packages/vectorbtpro/generic/plots_builder.py:398: UserWarning:

Subplot 'orders' does not support grouped data

/home/maxime/.local/lib/python3.8/site-packages/vectorbtpro/generic/plots_builder.py:398: UserWarning:

Subplot 'trade_pnl' does not support grouped data

FigureWidget({
    'data': [{'legendgroup': '0',
              'line': {'color': '#7f7f7f'},
              'mode': 'lines',
              'name': 'Benchmark',
              'showlegend': True,
              'type': 'scatter',
              'uid': 'a405db85-5940-45cf-87c6-80c34b7143d6',
              'x': array([datetime.datetime(2007, 1, 3, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 4, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 5, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          ...,
                          datetime.datetime(2023, 7, 27, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 28, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 31, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)],
                         dtype=object),
              'xaxis': 'x',
              'y': array([ 1.        ,  1.01188663,  1.00311898, ..., 17.44661837, 17.7284364 ,
                          17.72991042]),
              'yaxis': 'y'},
             {'hoverinfo': 'skip',
              'line': {'color': 'rgba(0, 0, 0, 0)', 'width': 0},
              'mode': 'lines',
              'opacity': 0,
              'showlegend': False,
              'type': 'scatter',
              'uid': '76214387-b020-49d5-9704-6289b815cd38',
              'x': array([datetime.datetime(2007, 1, 3, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 4, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 5, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          ...,
                          datetime.datetime(2023, 7, 27, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 28, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 31, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)],
                         dtype=object),
              'xaxis': 'x',
              'y': array([1, 1, 1, ..., 1, 1, 1]),
              'yaxis': 'y'},
             {'connectgaps': False,
              'fill': 'tonexty',
              'fillcolor': 'rgba(0, 128, 0, 0.25)',
              'hoverinfo': 'skip',
              'line': {'color': 'rgba(0, 0, 0, 0)', 'width': 0},
              'mode': 'lines',
              'opacity': 0,
              'showlegend': False,
              'type': 'scatter',
              'uid': 'f1f41ebc-7660-40ac-8a73-574124a0dc83',
              'x': array([datetime.datetime(2007, 1, 3, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 4, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 5, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          ...,
                          datetime.datetime(2023, 7, 27, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 28, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 31, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)],
                         dtype=object),
              'xaxis': 'x',
              'y': array([ 1.        ,  1.0216851 ,  1.01440887, ..., 15.36123037, 15.79075483,
                          15.64939264]),
              'yaxis': 'y'},
             {'hoverinfo': 'skip',
              'line': {'color': 'rgba(0, 0, 0, 0)', 'width': 0},
              'mode': 'lines',
              'opacity': 0,
              'showlegend': False,
              'type': 'scatter',
              'uid': 'e5aa281e-186d-4b5f-b347-733662d2b4d8',
              'x': array([datetime.datetime(2007, 1, 3, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 4, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 5, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          ...,
                          datetime.datetime(2023, 7, 27, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 28, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 31, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)],
                         dtype=object),
              'xaxis': 'x',
              'y': array([1, 1, 1, ..., 1, 1, 1]),
              'yaxis': 'y'},
             {'connectgaps': False,
              'fill': 'tonexty',
              'fillcolor': 'rgba(255, 0, 0, 0.25)',
              'hoverinfo': 'skip',
              'line': {'color': 'rgba(0, 0, 0, 0)', 'width': 0},
              'mode': 'lines',
              'opacity': 0,
              'showlegend': False,
              'type': 'scatter',
              'uid': '6964b474-0350-4425-8556-3f723df2d704',
              'x': array([datetime.datetime(2007, 1, 3, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 4, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 5, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          ...,
                          datetime.datetime(2023, 7, 27, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 28, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 31, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)],
                         dtype=object),
              'xaxis': 'x',
              'y': array([0.99950025, 1.        , 1.        , ..., 1.        , 1.        ,
                          1.        ]),
              'yaxis': 'y'},
             {'legendgroup': '1',
              'line': {'color': '#9467bd'},
              'mode': 'lines',
              'name': 'Value',
              'showlegend': True,
              'type': 'scatter',
              'uid': '9a8d9141-21dc-4ee1-b818-1c0b69c8d07d',
              'x': array([datetime.datetime(2007, 1, 3, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 4, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 5, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          ...,
                          datetime.datetime(2023, 7, 27, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 28, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 31, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)],
                         dtype=object),
              'xaxis': 'x',
              'y': array([ 0.99950025,  1.0216851 ,  1.01440887, ..., 15.36123037, 15.79075483,
                          15.64939264]),
              'yaxis': 'y'},
             {'hoverinfo': 'skip',
              'line': {'color': 'rgba(0, 0, 0, 0)', 'width': 0},
              'mode': 'lines',
              'opacity': 0.0,
              'showlegend': False,
              'type': 'scatter',
              'uid': '92670be5-a0fa-47c5-82af-afb7913d6fc6',
              'x': array([datetime.datetime(2007, 1, 3, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 4, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          datetime.datetime(2007, 1, 5, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EST-1 day, 19:00:00 STD>),
                          ...,
                          datetime.datetime(2023, 7, 27, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 28, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>),
                          datetime.datetime(2023, 7, 31, 0, 0, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)],
                         dtype=object),
              'xaxis': 'x',
              'y': array([1, 1, 1, ..., 1, 1, 1]),
              'yaxis': 'y'}],
    'layout': {'annotations': [{'font': {'size': 16},
                                'showarrow': False,
                                'text': 'Cumulative Returns',
                                'x': 0.5,
                                'xanchor': 'center',
                                'xref': 'paper',
                                'y': 1.0,
                                'yanchor': 'bottom',
                                'yref': 'paper'}],
               'height': 380,
               'legend': {'orientation': 'h',
                          'traceorder': 'normal',
                          'x': 1,
                          'xanchor': 'right',
                          'y': 1.1052631578947367,
                          'yanchor': 'bottom'},
               'margin': {'b': 30, 'l': 30, 'r': 30, 't': 30},
               'shapes': [{'line': {'color': 'gray', 'dash': 'dash'},
                           'type': 'line',
                           'x0': 0.0,
                           'x1': 1.0,
                           'xref': 'paper',
                           'y0': 1,
                           'y1': 1,
                           'yref': 'y'}],
               'showlegend': True,
               'template': '...',
               'width': 750,
               'xaxis': {'anchor': 'y', 'domain': [0.0, 1.0], 'title': {'text': 'Index'}},
               'yaxis': {'anchor': 'x', 'domain': [0.0, 1.0], 'title': {'text': 'Cumulative returns'}}}
})

In [ ]:
symbol="KER"
sub_pf=vbt.Portfolio.from_signals(bti.close[symbol], bti.entries[symbol],bti.exits[symbol],short_entries=bti.entries_short[symbol],
                                  short_exits  =bti.exits_short[symbol],freq="1d",
                                  call_seq='auto')
sub_pf.returns_stats()

In [10]:
pf.wrapper.columns[25]

('long', 'both', 'both', -1, 1, 0, 'RWE')

In [63]:
sub_pf.plot()

FigureWidget({
    'data': [{'legendgroup': '0',
              'line': {'color': '#1f77b4'},
              'na…

In [7]:
pf.trades.records.sort_values(["entry_idx"], ascending=True).tail(50)

,id,col,size,entry_order_id,entry_idx,entry_price,entry_fees,exit_order_id,exit_idx,exit_price,exit_fees,pnl,return,direction,status,parent_id
33,0,17,10.255593,0,957,26.878162,0.0,1,988,28.472633,0.0,16.352245,0.059322,0,1,0
23,0,10,10.548507,0,1003,27.681997,0.0,1,1020,28.338461,0.0,6.924711,0.023714,0,1,0
14,1,7,7.658497,2,1020,39.032261,0.0,3,1077,38.488209,0.0,-4.166621,-0.013939,0,1,1
60,0,30,4.708775,0,1092,62.598415,0.0,1,1099,74.647232,0.0,56.735161,0.192478,0,1,0
15,2,7,13.082459,4,1109,26.867807,0.0,5,1243,11.793730,0.0,-197.206000,-0.561046,0,1,2
16,3,7,12.698233,6,1254,12.150587,0.0,7,1274,11.140940,0.0,-12.820737,-0.083095,0,1,3
54,0,26,3.980464,0,1277,35.541142,0.0,1,1284,37.015610,0.0,5.869068,0.041486,0,1,0
45,2,23,7.115712,4,1286,20.706194,0.0,5,1295,22.392323,0.0,11.998006,0.081431,0,1,2
26,0,12,32.950594,0,1303,4.835643,0.0,1,1334,4.938391,0.0,3.385589,0.021248,0,1,0
59,0,29,8.959527,0,1336,18.161999,0.0,1,1376,19.716103,0.0,13.924035,0.085569,0,1,0
55,1,26,4.746590,2,1380,37.215546,0.0,3,1418,43.824459,0.0,31.369804,0.177585,0,1,1
24,1,10,10.930056,2,1434,19.031628,0.0,3,1454,24.613228,0.0,61.007201,0.293280,0,1,1
37,0,19,11.772068,0,1458,22.852736,0.0,1,1509,21.701710,0.0,-13.549953,-0.050367,0,1,0
49,1,25,11.984972,2,1525,21.316195,0.0,3,1560,18.770929,0.0,-30.504932,-0.119405,0,1,1
17,4,7,21.593188,8,1576,10.418520,0.0,9,1684,7.173720,0.0,-70.065569,-0.311445,0,1,4
40,0,21,2.558972,0,1698,60.533489,0.0,1,1742,64.077759,0.0,9.069686,0.058551,0,1,0
46,3,23,8.000950,6,1742,20.494215,0.0,7,1826,18.420012,0.0,-16.595598,-0.101209,0,1,3
1,1,0,2.269432,2,1827,64.940292,0.0,3,1916,63.066433,0.0,-4.252597,-0.028855,0,1,1
4,1,1,3.855143,2,1916,37.125729,0.0,3,1977,37.528717,0.0,1.553578,0.010855,0,1,1
6,0,3,3.616602,0,1978,40.004009,0.0,1,2068,51.957439,0.0,43.230795,0.298806,0,1,0
50,2,25,10.011041,4,2069,18.770212,0.0,5,2130,16.677080,0.0,-20.954430,-0.111513,0,1,2
12,0,6,2.577892,0,2140,64.764137,0.0,1,2362,54.030613,0.0,-27.669863,-0.165733,0,1,0
9,0,5,1.878985,0,2377,74.127823,0.0,1,2472,79.371780,0.0,9.853317,0.070742,0,1,0
20,0,9,2.597197,0,2487,57.422813,0.0,1,2533,65.919403,0.0,22.067321,0.147965,0,1,0
51,3,25,18.476564,6,2535,9.266101,0.0,7,2572,10.665133,0.0,25.849297,0.150984,0,1,3
38,1,19,4.203694,2,2579,46.876625,0.0,3,2590,47.856716,0.0,4.120003,0.020908,0,1,1
61,1,30,2.396834,2,2596,83.933640,0.0,3,2617,89.959816,0.0,14.443745,0.071797,0,1,1
52,4,25,17.652301,8,2618,12.214767,0.0,9,2633,13.451303,0.0,21.827706,0.101233,0,1,4
34,1,17,2.448491,2,2646,96.976669,0.0,3,2735,99.984047,0.0,7.363536,0.031011,0,1,1
58,1,28,3.261285,2,2745,75.065506,0.0,3,2752,74.967903,0.0,-0.318311,-0.001300,0,1,1
39,0,20,2.944319,0,2763,83.038437,0.0,1,2938,84.497093,0.0,4.294750,0.017566,0,1,0
2,2,0,1.275381,4,2942,195.068298,0.0,5,2946,192.542236,0.0,-3.221692,-0.012950,0,1,2
19,1,8,1.872784,2,2959,131.122818,0.0,3,3114,129.364456,0.0,-3.293032,-0.013410,0,1,1
25,2,10,33.426520,4,3114,7.247889,0.0,5,3211,6.393846,0.0,-28.547702,-0.117833,0,1,2
56,2,26,2.052677,4,3212,104.119644,0.0,5,3245,110.638786,0.0,13.381694,0.062612,0,1,2
5,2,1,1.957962,4,3247,115.990860,0.0,5,3249,118.400284,0.0,4.717560,0.020773,0,1,2
10,1,5,2.225797,2,3255,104.152916,0.0,3,3326,104.055717,0.0,-0.216344,-0.000933,0,1,1
62,2,30,2.651811,4,3338,87.339165,0.0,5,3466,100.335266,0.0,34.463198,0.148800,0,1,2
29,1,13,3.989586,2,3478,66.691154,0.0,3,3548,64.621040,0.0,-8.258899,-0.031040,0,1,1
11,2,5,2.914302,4,3564,88.464127,0.0,5,3629,92.076439,0.0,10.527370,0.040834,0,1,2
27,1,12,17.500013,2,3630,15.333622,0.0,3,3645,15.896067,0.0,9.842789,0.036680,0,1,1
63,3,30,1.795864,6,3645,154.901154,0.0,7,3648,161.809311,0.0,12.406110,0.044597,0,1,3
21,1,9,2.201582,2,3657,131.990295,0.0,3,3660,138.277832,0.0,13.842529,0.047636,0,1,1
42,1,22,1.423136,2,3674,213.914963,0.0,3,3701,232.486221,0.0,26.429420,0.086816,0,1,1
8,1,4,7.499173,2,3716,44.119453,0.0,3,3747,43.320244,0.0,-5.993411,-0.018115,0,1,1
32,0,15,5.478084,0,3753,59.302856,0.0,1,3829,60.606815,0.0,7.143196,0.021988,0,1,0
36,1,18,10.948828,2,3835,30.323721,0.0,3,3979,24.411612,0.0,-64.730671,-0.194966,0,1,1
22,2,9,1.655104,4,4024,161.487488,0.0,5,4030,170.494370,0.0,14.907324,0.055774,0,1,2
53,5,25,6.929612,10,4031,40.721741,0.0,11,4137,41.534023,0.0,5.628803,0.019947,0,1,5
47,0,24,7.104781,0,4138,40.509998,0.0,-1,4200,42.650002,0.0,15.204255,0.052827,0,0,0

In [9]:
### Statistics which action what ordered the most ###
pf.trades.records.groupby("col").count()

,id,size,entry_order_id,entry_idx,entry_price,entry_fees,exit_order_id,exit_idx,exit_price,exit_fees,pnl,return,direction,status,parent_id
col,,,,,,,,,,,,,,,
0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
7,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
10,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
14,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
15,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
18,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
21,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
24,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
25,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
26,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
28,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
29,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
30,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
31,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
32,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
36,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
38,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
39,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
44,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
45,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
50,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
51,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
52,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
54,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
55,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
57,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
58,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
59,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
60,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
61,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
62,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
65,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
67,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
68,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
69,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [198]:
bti.macro_trend.vbt.plot()

FigureWidget({
    'data': [{'name': "(0.03, 'Close')",
              'showlegend': True,
              'type': 'scatter',
              'uid': '7c1dc43b-7774-4168-9137-e8580655c1b0',
              'x': array([datetime.datetime(2007, 1, 2, 0, 0, tzinfo=datetime.timezone.utc),
                          datetime.datetime(2007, 1, 3, 0, 0, tzinfo=datetime.timezone.utc),
                          datetime.datetime(2007, 1, 4, 0, 0, tzinfo=datetime.timezone.utc), ...,
                          datetime.datetime(2022, 12, 28, 0, 0, tzinfo=datetime.timezone.utc),
                          datetime.datetime(2022, 12, 29, 0, 0, tzinfo=datetime.timezone.utc),
                          datetime.datetime(2022, 12, 30, 0, 0, tzinfo=datetime.timezone.utc)],
                         dtype=object),
              'y': array([ 0,  0,  0, ..., -1, -1, -1])}],
    'layout': {'height': 350,
               'legend': {'orientation': 'h',
                          'traceorder': 'normal',
                          'x': 1,
                          'xanchor': 'right',
                          'y': 1.02,
                          'yanchor': 'bottom'},
               'margin': {'b': 30, 'l': 30, 'r': 30, 't': 30},
               'template': '...',
               'width': 700}
})

In [ ]:
#Scan the WQ strats, adjust the fees
total_res={}

for ind in ["NASDAQ","DAX","CAC40"]:
    res={}
    for nb in range(1,102):
        try:
            bti=presel.PreselWQ(period,symbol_index=ind, nb=nb)
            bti.run()
            pf=vbt.Portfolio.from_signals(bti.close, bti.entries,bti.exits,short_entries=bti.entries_short,short_exits  =bti.exits_short,freq="1d",#
                                call_seq='auto',cash_sharing=True,fees=0.0001
                                 )
            res[nb]=pf.get_total_return()
        except:
            print("skipped: "+str(nb))
            pass
    total_res[ind]=res
total_res_df=pd.DataFrame(data=total_res)
total_res_df